*.pyc
node_modules/
token.json
client_secret.json
__pycache__/
.env
td_user_data/
.wwebjs_auth/*
wa_gateway/
gmail_token.json
*.pdf

# Credentials & Secrets
.credentials/
config/serviceAccountKey.json
personalagentoauth-*.json
*.json
secrets/
keys/
*.pem
*.key
data/Google Passwords.csv
